%%% -*- mode: erlang; flycheck-mode: nil -*-

{provider_hooks,
 [{pre, [{compile, {protobuf, compile}},
         {compile, {lfe, compile}}]}]}.

{deps, [{jsx, "2.8.0"}]}.

{plugins,
 [{'lfe-compile',
   {git, "git://github.com/lfe-rebar3/compile.git",
    {tag, "0.5.0"}}},
  {rebar3_gpb_plugin, "1.7.3"}]}.

{overrides,
 [{override, rebar3_gpb_plugin,
   [{deps, [{gpb, "3.25.2"}]}]}]}.

{gpb_opts,
 [{i,                   "proto"},
  %% {module_name_suffix,  "_pb"},
  {o_erl,               "src"},
  {o_hrl,               "include"},
  defs_as_proplists, strings_as_binaries,
  %% type_specs,
  {verify, always},
  include_as_lib, warnings_as_errors]}.
