%%% -*- mode: erlang; flycheck-mode: nil -*-

{project_plugins, [
  {lodox, {git, "git://github.com/lfe-rebar3/lodox.git", {tag, "0.15.1"}}}
]}.

{deps, [
  {jsx,     "2.8.0"},
  {pbkdf2,  "2.0.0"},
  {poolboy, "1.5.1"}
]}.

{plugins, [
  {'lfe-compile',
   {git, "git://github.com/lfe-rebar3/compile.git",
    {tag, "0.5.0"}}},
  {rebar3_gpb_plugin, "1.7.3"}
]}.

{overrides, [
  {override, rebar3_gpb_plugin, [{deps, [{gpb, "3.25.2"}]}]}
]}.


{provider_hooks, [
  {pre, [
    {compile, {protobuf, compile}},
    {compile, {lfe,      compile}}
  ]}
]}.

{gpb_opts, [
  {i,      "proto"},
  {o_erl,  "src"},
  {o_hrl,  "include"},
  {verify,  always},
  defs_as_proplists,
  include_as_lib,
  strings_as_binaries,
  warnings_as_errors
]}.

{lodox, [
  {apps, [
    {rethinkdb, [
      {'output-path', "docs"},
      {'source-uri',
       "https://github.com/quasiquoting/lfe-rethinkdb"
       "/blob/master/{filepath}#L{line}"}
    ]}
  ]}
]}.
