{erl_opts, [debug_info, {i, "include"}, {i, "_build/default/lib/gpb/include"}]}.

{pre_hooks,
 [{compile, "mkdir -p include"}, %% ensure the include dir exists
  {compile,
   "bash -c '"
   "erl +B -noinput -pa $(pwd)/_build/default/lib/gpb/ebin "
   "    -I $(pwd)/proto -o-erl src -o-hrl include "
   "    -s gpb_compile c $(pwd)/proto/ql2.proto'"}]}.

{post_hooks,
 [{clean,
   "bash -c '"
   "  rm -f src/ql2.erl"
   "  rm -f include/ql2.hrl'"}]}.

{provider_hooks, [{pre, [{compile, {lfe, compile}}]}]}.

{deps,
 [{gpb, ".*",
   {git, "git@github.com:tomas-abrahamsson/gpb.git", {branch, "master"}}},
  {lfe, ".*",
   {git, "git@github.com:rvirding/lfe.git", {tag, "v0.10.0"}}},
  {ljson, ".*",
   {git, "git@github.com:lfex/ljson.git", {branch, "master"}}}]}.

{plugins,
 [{'lfe-compile', ".*",
   {git, "git://github.com/lfe-rebar3/compile.git", {tag, "0.2.0"}}},
  {'lodox', ".*",
   {git, "git://github.com/quasiquoting/lodox.git", {branch, "master"}}}]}.
